[submodule "interface"]
	path = interface
	url = https://gitlab.com/acl2s/external-tool-support/interface.git
[submodule "gradescope-acl2s"]
	path = gradescope-acl2s
	url = https://github.com/ankitku/gradescope-acl2s
